<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478006428135-gkil3q9cakmevpuqktp3a82cgbe6gh27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478006428135-gkil3q9cakmevpuqktp3a82cgbe6gh27</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478006428135-6307s123jf9bdsihrrjcgubp1agn59sl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRGpAimnLCx5_dbMhte4Hy40bUJQtldvs</string>
	<key>GCM_SENDER_ID</key>
	<string>478006428135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecommerce.user</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-220ed</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-220ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478006428135:ios:e2e2b284a8db6c7788fd42</string>
</dict>
</plist>